body {
  max-width: 60ch;
  margin: 40px auto;
  line-height: 1.5;
}
.p1 {
  margin-bottom: 30px;
  background: #eef;
  padding: 1px;
}
.p2 {
  margin-top: 40px;
  background: #efe;
  padding: 1px;
}
