.box {
  width: 200px;
  background: #f0f9ff;
  padding: 20px;
  border: 10px solid #000;
  margin: 15px;
}
/* TODO: Calcula el ancho total visible:
   290 = 200 + (20 + 20) + (10 + 10) + (15 + 15)
*/
