.card {
  display: inline-block;
  background: #fef3c7;
  border: 1px solid #fbbf24;
  margin: 8px;
}
/* a: padding uniforme 20px */
/* b: 10px arriba/abajo y 30px lados */
/* c: 10px arriba, 20px lados, 5px abajo */

.card.a {
  padding: 20px;
}

.card.b {
  padding: 10px 30px;
}

.card.c {
  padding: 10px 20px 5px;
}
