body {
  font-family: system-ui, sans-serif;
}
.box {
  display: inline-block;
  background: #e0f2fe;
  margin: 8px;
  border: 1px solid #93c5fd;
}
.box.uno {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.box.dos {
  padding: 20px 10px 30px 15px;
}
.box.tres {
  padding: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 15px;
}
