.card {
  width: 140px;
  height: 70px;
  display: grid;
  place-items: center;
  margin: 12px 0;
  background: #f9fafb;
}

.a {
  border-style: solid;
  border-width: 2px;
  border-color: #3b82f6;
}
.b {
  border-style: dashed;
  border-width: 4px;
  border-color: #ef4444;
}
.c {
  border-style: dotted;
  border-width: 6px;
  border-color: #10b981;
}
