.caja {
  width: 200px;
  background: #e2e8f0;
  border: 1px solid #94a3b8;
  display: inline-block;
  margin: 8px;
}
.caja.a {
  padding: 20px;
}
.caja.b {
  margin: 20px;
}
.caja.c {
  padding: 20px;
  margin: 20px;
}
